body {
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: 300px 3fr;
  font-family: roboto-reg;
  
}

@font-face {
  font-family: roboto-reg;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(Roboto-Bold.ttf);
}

.sidebar {
  background-color: #1992D4;

  color: white;
  display: grid;
  grid-row: 1/3;
  grid-auto-rows: max-content;
  row-gap: 50px;
  font-size: 1.3rem;
  font-family: roboto-bold;
}

.dashboard {
  padding-top: 20px;
}

.sidebar img {
  height: 30px;
}

.side-content-group1,
.side-content-group2 {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 10px;
}

.header {
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.first-row {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 30px;
}

.first-row-group1 {
  display: grid;
  grid-template-columns: 35px minmax(230px, 600px);
  padding: 15px;
  align-items: center;
  padding-left: 25px;
}

.first-row-group2 {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  padding: 15px;
  padding-right: 50px;
  align-items: center;
  gap: 15px;
  font-family: roboto-bold;
}

.first-row-group2 > svg {
  margin-right: 20px;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.second-row-group1 {
  display: flex;
  padding: 15px;
  align-items: center;

  gap: 12px;
}

.second-row-group2 {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 15px;
  padding: 15px 35px 15px 0px;
  align-items: center;
}


.second-row-group1 .picture {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #FACC15;
  background-image: url(kitty.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;

  }

.second-row-group1 img {
  height: 50px;
  flex: 1;
}


button {
  box-sizing: border-box;
  height: 40px;
  border-radius: 34px;
  border-style: none;
  background-color: #1992D4;
  color: white;
  font-family: roboto-bold;
}


.mini-group {
  margin-top: 5px;
  flex: 2;

  display: grid;
  margin-left: 10px;
  font-family: roboto-bold;
}

.mini-group p:first-child {
  font-size: 15px;

}

.mini-group p:nth-child(2) {
  font-size: 20px;
}

.main-content {
  background-color: #E2E8F0;
  overflow: scroll;

}
.main-content-group1 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-family: roboto-bold;
  font-weight: lighter;
  font-size: 1.1rem;
  margin-top: 20px;
}

.main-content-group1 > p:first-child {
  padding-left: 18px;
}

.main-content-group1 > p:nth-child(2) {
  padding-right: 175px;
}

.main-content-group2 {
  display: grid;
  grid-template-columns: 3fr 320px;
  gap: 25px;
}

.left-side {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.projects {
  border-left: 16px solid #F0B429;

  border-radius: 15px;
  padding: 40px 20px 20px 20px;
  background-color: white;
}

.projects > div:first-child > p:first-child {
  font-family: roboto-bold;
  font-size: 1.25rem;
  margin-bottom: 3px;
}

.projects > div:first-child > p:nth-child(2) {
  color: rgba(95, 95, 95, 0.864);
}

.extra-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  gap: 30px;
}

.extra-buttons > img {
  height: 35px;
}

.right-side {
  padding-right: 30px;
}

.right-side > * {
  background-color: white;
}

.upper-container {
  padding: 40px ;
  border-radius: 15px;
}

.bottom-container {
  display: grid;
  border-radius: 15px;
}

.trending-elements {
  padding: 20px 0px 20px 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.trending-elements img {
  height: 35px;
}

.right-p {
  padding-right: 40px;
}

.header img {
  height: 30px;

}

.dashboard,
.side-content-group1 div,
.side-content-group2 div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

.home {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

svg {
  height: 30px;
}

.dashboard svg {
  height: 55px;
 
}

.sidebar svg {
  fill: white;
}

.sidebar span {
  padding-top: 7.5px;
  /* font-weight: bold; */
}

.ekstra {
  display: flex;
}

input[type="search"] {
  font-size: 1rem;
  border: none;
  background-color: #E2E8F0;
  height: 30px;
  border-radius: 15px;
  padding: 5px 20px 5px;
  margin-left: 10px;
}

.picture {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  background-color: #FACC15;
  background-image: url(kitty.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;

}

.empty-line {
  height: 2px;
  background-color: rgb(156, 156, 156);
  margin: 20px 0px 20px 0px;
}

.first-line {
  font-family: roboto-bold;
  font-size: 1.01rem;
  margin-bottom: 6px;
}

.upper-container > div > p:nth-child(2) {
  font-size: 0.8rem;
  color: rgba(95, 95, 95, 0.864);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Change this to the number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.right-side > p {
  background-color: #E2E8F0;
  font-family: roboto-bold;
  font-weight: lighter;
  margin: 30px 0px 10px 0px;
  font-size: 1.1rem;
}

.logo {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  background-color: #FACC15;
  background-image: url(kitty.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-container > div:first-child .logo {
  background-color: #E0F2FE;
  background-image: url(project-png/man.png);
}

.bottom-container > div:nth-child(3) .logo {
  background-color: #A3A3A3;
  background-image: url(project-png/monster.png);
}

.bottom-container > div:nth-child(4) .logo {
  background-color: #359980;
  background-image: url(project-png/woman.png);
}

.trending-elements > div:nth-child(2) > p:nth-child(2) {
  margin-top: 4px;
  color: #636363;
}

.projects,
.upper-container,
.bottom-container {
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3), -1px 0px 3px rgba(0, 0, 0, 0.3)
}